<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>nl.jcroonen.gpxserver</string>
    <key>WorkingDirectory</key>
    <string>/Users/ares/Dev/node/node-gpx-server/app</string>
    <key>jc_IdeDirectory</key>
    <string>/Users/ares/Dev/node/node-gpx-server</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/ares/.nvm/versions/node/v17.9.1/bin/node</string>
      <string>bin/www</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>access.log</string>
    <key>StandardErrorPath</key>
    <string>error.log</string>
    <key>Debug</key>
    <true/>
    <key>jc_Port</key>
    <string>3016</string>
    <key>jc_Description</key>
    <string>Api server for parsing specific gpx-files from Garmin Connect</string>
    <key>jc_RepoName</key>
    <string>jacron/node-gpx-server.git</string>
  </dict>
</plist>
